<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Registrar Nova Conta</title>
</head>
<body>
	<div ng-controller="contaController">
		<p>
			<label>Cep:</label>
			<input type="text" ng-model="conta.cep" />
			<button ng-click="consultarEndereco()">Consultar CEP</button>       
		</p>
		<p>
			<label>Rua:</label>
			<input type="text" ng-model="conta.rua" readonly/>
		</p>
		<p>
			<label>Bairro:</label>
			<input type="text" ng-model="conta.bairro" readonly/>
		</p>
		<p>
			<label>Cidade:</label>
			<input type="text" ng-model="conta.cidade" readonly/>
		</p>
		<p>
			<label>Estado:</label>
			<input type="text" ng-model="conta.estado" readonly/>
		</p>
		<p>
		    <span>{{mensagem}}</span>
		</p>
	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>	
	<script type="text/javascript" src="conta.js"></script>
</body>
</html>